@model MFD.Models.Receta

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Receta</legend>

        @Html.HiddenFor(model => model.idReceta)

        <div class="editor-label">
            @Html.LabelFor(model => model.idUsuario, "Usuario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idUsuario", String.Empty)
            @Html.ValidationMessageFor(model => model.idUsuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.titulo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.titulo)
            @Html.ValidationMessageFor(model => model.titulo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.descripcion)
            @Html.ValidationMessageFor(model => model.descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.calorias)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.calorias)
            @Html.ValidationMessageFor(model => model.calorias)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.proteinas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.proteinas)
            @Html.ValidationMessageFor(model => model.proteinas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.grasas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.grasas)
            @Html.ValidationMessageFor(model => model.grasas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.carboidratos)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.carboidratos)
            @Html.ValidationMessageFor(model => model.carboidratos)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.calificacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.calificacion)
            @Html.ValidationMessageFor(model => model.calificacion)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
