@model FitnessDaw.articulo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>articulo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idArticulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idArticulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.usuario.nick)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.usuario.nick)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.imagen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.imagen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fuente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fuente)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
