@model MvcApplication1.Models.Receta

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Receta</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idReceta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idReceta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.calorias)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.calorias)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.proteinas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.proteinas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.grasas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.grasas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.carboidratos)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.carboidratos)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.calificacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.calificacion)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
