@model IEnumerable<FitnessDaw.receta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idRecetas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.nick)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calendario.idCalendario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idRegistros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calorias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proteinas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grasas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gramos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carboidratos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idRecetas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.nick)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calendario.idCalendario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idRegistros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calorias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proteinas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grasas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gramos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carboidratos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calificacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
